debian/*.debhelper
debian/files
debian/*.log
debian/*.substvars
debian/debhelper-build-stamp
debian/chvrf/
debian/libvrfmanager-vyatta-dev/
debian/libvyatta-vrfmanager-perl/
debian/libvyatta-vrfmanager-sh/
debian/python3-vrfmanager/
debian/vrf-manager/
debian/python*-bvnos-*/
bvnos/generated
lib/Vyatta/*.a
lib/python/vrfmanager.egg-info
lib/python/vrfmanager/__pycache__
lib/python/vrfmanager/tests/__pycache__
setup.py
test/C-lib/vrf_manager_ut
vrfmanager/vrf_manager.o
.pybuild
usr
libvrfmanager-vyatta.pc
